.sp-page-builder .page-content #section-id-1556726317144 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.mainheading-wrapper {
    background: url(img/newsletter_bg.jpg);
}

.mainheading-wrapper h1 {
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.mainheading-wrapper h4 {
    font-size: 32px;
}

.mainheading-wrapper .heading-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .mainheading-wrapper .heading-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.sp-page-builder .page-content #section-id-1556637081143 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

#column-id-1556637081144 {
    color: rgba(255, 255, 255, 1);
}

#column-id-1556637081148 {
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251200 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251212 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251220 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251231 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251239 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1557413251247 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

h4 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

h5 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

h6 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

#sp-footer {
    background-color: #101015;
    color: #666666;
}